<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <center>
    <div class="wrapper">
        <h1>Register</h1><br>
        {% if messages %}
          {% for message in messages %}
            <h2 style="color: firebrick;">{{message}}</h2>
          {% endfor %}
        {% endif %}

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="input"><input type="text" placeholder="Create a username"name="username"></div><br>
            <div class="input"><input type="email" placeholder="Enter your email"name="email"></div><br>
            <div class="input"><input type="password" placeholder="Enter your password"name="password"></div><br>
            <div class="button"><input type="submit" style="background-color: rgb(123, 196, 220); color: white;" value="Register"></div>
            <div class="text">
                <h3>Already registered?<a href="{% url 'login' %}">Login now</a></h3>
            </div>
            <div class="text">
                <h3>Forgot Password?<a href="#">Reset</a></h3>
            </div>
        </form>
    </div>
    </center>
</body>
</html>